<div class="todos">
  <form class="todos__form" #todoForm="ngForm" (ngSubmit)="todoSubmit(todoForm.value); todoForm.resetForm()">
    <div class="form__title">Todo App</div>
    <div class="form__input">
      <input class="input__text-box" type="text" placeholder="Todo Title" name="title" ngModel />
      <textarea class="input__text-box" placeholder="Todo Description" name="description" ngModel></textarea>
      <div class="input__button" (click)="todoSubmit(todoForm.value); todoForm.resetForm()">
        <div class="material-icons button__icon">add</div>
      </div>
    </div>
  </form>
  <div class="todos__list">
    <div
      [ngClass]="todo.title.length > 200 ? 'list__item' : 'list__item--ignore-scroll'"
      [@moveInLeft]
      *ngFor="let todo of todoArray; let i = index"
    >
      <nav>
        <a routerLink="/todo-details" class="item__text">{{ todo.title }}</a>
      </nav>
      <router-outlet></router-outlet>
      <!-- <todo-detail [todo]="todo"></todo-detail> -->
      <div class="item__deletes">
        <!--
          I was trying to figure out a good way to have multiple delete buttons so there isn't only one
          at the top of the todo item.  I will have to come back to this.
        -->
        <!-- <div class="material-icons deletes__button" (click)="deleteItem(todo)" *ngFor="let todo of lengths[i]"> -->
        <div class="material-icons deletes__button" (click)="deleteItem(todo)">delete</div>
      </div>
    </div>
  </div>
</div>
