<div class="user-heroes">
  <div class="user-heroes__title">My Heroes</div>
  <div class="user-heroes__create">
    <div class="create__label">
      Hero name: <input class="label__input" #heroName />
      <!-- (click) passes input value to add() and then clears the input -->
      <button class="create__button" (click)="add(heroName.value); heroName.value = ''">Create Hero</button>
      <button class="create__button" (click)="undo()">Un-Delete</button>
    </div>
  </div>

  <div class="user-heroes__list">
    <div class="list__hero" *ngFor="let hero of heroes">
      <a class="hero__link" routerLink="/detail/{{hero.id}}">
        <div class="link__item">{{ hero.name }}</div>
      </a>
      <button class="hero__delete" title="delete hero" (click)="delete(hero)">x</button>
    </div>
  </div>
</div>
