<div class="details" *ngIf="hero; else: noHero">
  <div class="details__container">
    <div class="container__title">{{ hero.name | uppercase }}</div>
    <div class="container__item">id:{{ hero.id }}</div>
    <div class="container__item">
      Name: <input class="item__input" [(ngModel)]="hero.name" placeholder="name" />
      <button class="container__button" (click)="save()">Update</button>
    </div>
    <button class="container__button" (click)="goBack()">Return</button>
  </div>
</div>
<ng-template #noTopHeroes class="details"> </ng-template>
