@import '../../styles.less';

.dash {
  .containers(@width: 80vw, @justifyContent: space-between);
  .image-text();
  .radius();
  background-image: url('http://1.bp.blogspot.com/--JFdnMgY4Xk/T9i8bWBAcqI/AAAAAAAAO8c/8l4vikAVgXQ/s1600/RPG+Maker+original+PS1+game.jpg');
  min-height: 30rem;
  background-repeat: repeat-y;
  .dash__heroes {
    .containers();
    .heroes__title {
      .titles--container();
    }
    .heroes__list {
      .containers();
      .list__link {
        color: @white;
        text-decoration: none;
      }
    }
  }
}
